[build]
  publish = "frontend/public"
  functions = "backend/functions"

[dev]
  publish = "frontend/public"
  functions = "backend/functions"
  port = 9999

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
